<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercadolibre.vestime"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="mobi.adfi.monopolybri.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mercadolibre.vestime.HomeMercadoActivity"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
                android:name="com.mercadolibre.vestime.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.mercadolibre.vestime.ProductViewActivity"
            android:screenOrientation="portrait" >
        </activity>


        <activity android:name="com.mercadolibre.vestime.ProductActivity"
                  android:screenOrientation="portrait" />


        <activity android:name=".FilterActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".WomenActivity" />
        <activity android:name=".MenActivity" />
        <activity android:name=".NeneActivity" />
        <activity android:name=".NenaActivity" />
        <activity android:name=".BebeActivity" />

    </application>

</manifest>